.compact-timer-presets {
  width: 170px;  
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
}
.compact-preset-button {
  border-color: rgb(159, 119, 119);
  background-color: rgba(118, 25, 39, 0.522);
}

.compact-timer-preset-button-sub-label {
  color:rgb(229, 174, 174);
  font-size: 120%;
  margin-top: -5px;
}

.compact-timer-preset-button-label {
  margin-top: -3px;
  color:rgb(184, 140, 140);
  min-height: 15px;
}