.compact-timer-container {
  width: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 0px 0px;
  position: relative;
}




.compact-base-button {
  width: 75px; 
  height: 57px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px 0px;
  /* margin: 5px 5px; */
  margin-bottom: 0px;
  border: 1px solid gray;
  background-size: 20%;
  background-position: bottom left;
  background-repeat: no-repeat;
  text-align: center;
}
