.birthdays-compact-container {
  width: 180px;
  border-radius: 5px;
  padding-top: 5px;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;  
  text-align: left;
  height: 100%;
  padding-bottom: 3px;  
}

.birthdays-compact-container::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.birthdays-compact-container::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, .08);
}
    
/* Handle */
.birthdays-compact-container::-webkit-scrollbar-thumb {
    background: #77777784;
}

/* Handle on hover */
.birthdays-compact-container::-webkit-scrollbar-thumb:hover {
    background: rgb(152, 152, 152);
}    


.birthdays-label {
  max-height: 25px;  
  color: #999;
  font-size: 16px;
  border-bottom: 1px solid #333;
  width: 100%;
}

.compact-birthdays-none {
    color: rgb(62, 54, 97);
    background-color: rgb(24, 20, 41);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        width: 100%;
        text-align: center;
    }
}

.birthdays-compact-items-container{
  width: 100%;  
  margin: 5px auto;
  padding: 0px;
  padding-right: 0px;
  flex-grow: 10;
  background-color: rgb(24, 20, 41);
  overflow-y: auto;
  border-radius: 3px;
  padding: 3px;
}

.birthday-compact-item-container{
  /* border: 1px solid yellow; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2px 3px;
  border-radius: 3px;
  margin: 0px 0px 2.8px 0px;
  flex-direction: column-reverse;
  height: 30px;
}

.birthday-compact-item-container-yesterday {
  color:aliceblue;  
  background: rgb(89, 67, 67);
  position: relative;
}

.birthday-compact-item-container-yesterday .birthday-compact-item-date{
  color:rgb(255, 184, 184);
  font-size: 11px;
  width: 100%;
  text-align: right;
  position:  absolute;
  right: 2px;
  top: 0px;
  padding-right: 2px;
}

.birthday-compact-item-container-today {
  color:rgb(229, 211, 211);    
  background: rgba(100,0,0,1);
  position: relative;
}

.birthday-compact-item-container-today .birthday-compact-item-date{
  color:red;
  font-size: 11px;
  width: 100%;
  text-align: right;
  position:  absolute;
  right: 2px;
  top: 0px;
  padding-right: 2px;
}

.birthday-compact-item-container-tomorrow {
  color:rgb(229, 220, 211);  
  background: rgba(100,50,0,1);
  position: relative;
}

.birthday-compact-item-container-tomorrow .birthday-compact-item-date{
  color:rgb(255, 166, 0);
  font-size: 11px;
  width: 100%;
  text-align: right;
  position:  absolute;
  right: 2px;
  top: 0px;
  padding-right: 2px;
}

.birthday-compact-item-container-later {
  color:rgb(187, 194, 204);  
  position: relative;
}

.birthday-compact-item-container-later .birthday-compact-item-date{
  color:rgb(187, 194, 204);
  font-size: 11px;
  width: 100%;
  text-align: right;
  position:  absolute;
  right: 2px;
  top: 0px;
  padding-right: 2px;
}

.birthday-compact-item-date-tomorrow {
  color: rgb(255, 187, 0);
}

.birthday-compact-item-name {
  position: relative;
  top: 2px;
  font-size: 100%;
}

.hidden-birthdays {
  float: right;
  font-size: 13px;
  padding: 0px 3px;
  border-radius: 3px 3px 0px 0px;
  margin-top: 0px;
  position: relative;
  top: 3px;
}

.hidden-birthdays-tomorrow {
  background: rgba(100,50,0,1);
  color: rgb(255, 187, 0);
}

.hidden-birthdays-today {
  background: rgba(100,0,0,1);
  color:red;
}