.live-timers {
  display: block;
  height: 168px;
  overflow-y: scroll;  
  overflow-x: hidden;
}

.live-timer {
  display: flex;
  justify-content: space-between;
  width: 259px;
  font-size: 150%;
  height: 54px;
  padding: 3px 3px 1px 15px;
  margin-left: 2px;
  margin-right: 5px;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 5px;
  position: relative;
}

.live-timer-display {
  padding-top: 13px;
}

.sub-label-container {
  position:absolute;
  font-size: 50%;
  color:rgb(176, 175, 175);
  font-weight: bold;
}

.live-timer-normal {
  color:rgb(212, 175, 183);
}

.live-timer-close {
  color: rgb(190, 169, 83);
}

.live-timer-closer {
  color: rgb(250, 153, 42);
}

.live-timer-expired {
  color: red;
}

.selected-timer {
  border: 1px solid rgba(159, 99, 15, .5);
  background-color: rgb(58, 8, 8);
  
}

.live-timer-cancel-button {
  float: right;
  border: 1px solid rgb(94, 50, 50);
  border-radius: 5px;
  height: 45px;
  margin-right: 5px;
  width: 80px;
  text-align: center;
  color: rgb(190, 87, 87);
  font-size: 80%;
  margin-top: 0px;
  padding-top: 6px;
  cursor: pointer;
}

.live-timer-cancel-button:active {
  background-color: rgba(255, 0, 0, 0.261);
}
