.presets {
  height: 160px;
  overflow-y: scroll;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  padding-top: 0px;
  padding-bottom: 0px;
}

.preset-button {
  border-color: rgb(159, 119, 119);
  background-color: rgba(118, 25, 39, 0.522);
}

.preset-button-custom {
  border-color: rgb(159, 119, 119);
  background-color: rgba(165, 126, 29, 0.155);
  background-color: rgba(118, 25, 39, 0.172);
}

.preset-button:active {
  background-color: rgb(136, 27, 43);  
}

.preset-button-sub-label {
  color:rgba(229, 174, 174, 1);
  font-size: 120%;
}

.preset-button-sub-label-muted {
  color:rgba(229, 174, 174, .7);
  font-size: 120%;
}

.preset-button-label {
  color:rgb(184, 140, 140);
  min-height: 15px;
}