.presets {
  height: 165px;
  overflow-y: scroll;
}

.preset-button {
  border-color: rgb(159, 119, 119);
  background-color: rgba(118, 25, 39, 0.522);
}

.preset-button:active {
  background-color: rgb(136, 27, 43);  
}

.preset-button-sub-label {
  color:rgb(229, 174, 174);
  font-size: 120%;
}

.preset-button-label {
  color:rgb(184, 140, 140);
  min-height: 15px;
}