.timer-panel-container {
  background-color: rgb(101, 57, 57);
  width: 300px;
  border-radius: 5px;
  padding-top: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  margin-left: 5px;
}

.timer-main-label {
  text-align: center;
  color:rgb(213, 158, 158);
  font-size: 140%;
  font-weight: lighter;
  padding-top: 8px;
  width: 100%;  
}


.timer-panel-item {
  width: 280px;  
  background-color: rgb(41, 20, 20);
  margin: 5px auto;
  padding: 3px;
  display: flex;
  flex-flow: row wrap;
}

.base-button {
  width: 76px; 
  border-radius: 5px;
  border: 1px solid rgb(159, 119, 119);
  height: 66px;
  padding: 4px 3px;
  margin: 10px 5px;
  margin-bottom: 0px;
  
  background-size: 20%;
  background-position: bottom left;
  background-repeat: no-repeat;
  text-align: center;
  color:rgb(244, 201, 201);
}

.base-button:active {
  background-color: rgb(97, 42, 42)  
}

/*
  Scrollbar (see https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp)
*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, .08);

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #553333;
  /* background-color: rgba(55, 40, 40, 1); */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #744;
}