.master-switches-container {
  padding: 7px; 
  padding-left: 4px;
  padding-right: 10px;
  border-right: 1px solid rgb(64, 64, 64);
  height: 100%;
  width: 125px;
}

.master-switches-container .toggle-fullscreen-button {
  background-color: rgba(135, 110, 77, 0.3);
  color:rgb(206, 167, 117);
  border-color: rgba(135, 110, 77, 1);
  width: 111px;
}

.toggle-fullscreen-button:active {
  background-color: rgba(135, 110, 77, 0.8);
}

.master-switches-buttons-container {
  width: 111px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.master-switch-button {
  width: 50px;
  height: 55px;
  margin: 0px;
  text-align: center;

  padding: 0px 3px;
  border: 1px solid gray;
  border-radius:5px;
}

.master-switch-button-background-master-on {
  border-color: rgb(124, 160, 124);
}

.master-switch-button-background-master-on:active {
  background-color: rgba(124, 160, 124, .5);
}

.master-switch-button-background-master-off {
  border-color: rgb(196, 99, 99);
}

.master-switch-button-background-master-off:active {
  background-color: rgba(196, 99, 99, .5);
}

.master-switch-button-meta-master-on {
  color: rgb(178, 236, 178);
  font-size: 80%;
}

.master-switch-button-meta-master-off {
  color: rgb(246, 141, 141);
  font-size: 80%;
}

.master-switch-button-top-text {
  font-size: 89%;
}

.master-switch-button-label {
  
}
