.thermometer-label {
  padding-top:14px;
  max-height: 25px;  
  border-bottom: 1px solid #333;
  color: #999;
}

.thermometer-temp {
  font-size: 56px;
  max-height: 65px;
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
  margin-top: -15px;
}

.thermometer-trend {
  font-size: 20px;
  width: 100%;
  color: gray;
  text-align: right;
  margin-top: -5px;
}

.fullscreen-panel-temperature {
  width: 160px; 
  padding: 0px 20px;
  height: 100%; 
}

