.forecast-display-data-container {
  font-size: 15px;
  height: 90px;
  display: flex;
  flex-direction: row-reverse;
  flex-flow: wrap;
  width: 100%;
  justify-content: space-between;
}

.forecast-item-container {
  display: flex;
  height: 43px;
  width: 80px;  
  margin: 5px 0px;
  /* border: 1px solid yellow */
}

.forecast-icon {
  position: relative;
  top: -2px;
  left: -2px;
  height: 47px;
}

.forecast-text-container {
  width: 35px;
}

.forecast-text-time {
  font-size: 12px;
}

.forecast-text-temp {
  font-size: 15px;
  font-weight:500
}

.forecast-label {
  padding-top:5px;
  padding-bottom:0px;
  margin-bottom: 2px;  
  
  border-bottom: 1px solid #333;
  color: #999;
}

.fullscreen-panel-forecast {
  width: 180px; 
  
  height: 100%; 
}
