
.medical-container {
  background-color: rgba(87, 71, 86, 0.785);
  width: 300px;
  border-radius: 5px;
  padding-top: 5px;  
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  height: 173px;
}

.medical-items-container {
  width: 280px;  
  background-color: rgb(42, 31, 42);
  margin: 5px auto;
  padding: 3px;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;  
  overflow-y: scroll;
  height: 130px;
  color:rgba(209, 190, 212, 0.608);

}
 
/* Handle */
.medical-items-container::-webkit-scrollbar-thumb {
  background: #5f4e6289;
}

/* Handle on hover */
.medical-items-container::-webkit-scrollbar-thumb:hover {
  background: rgba(114, 84, 113, 0.735);
}

.medical-header {
  text-align: center;
  width: 300px;
  font-weight: bold;
  color:rgba(255, 255, 255, .5)
}

.blood-pressure-table {
    width: 100%;
    border-collapse: separate;            
}

.blood-pressure-table thead tr {
    height: 0px;
}

.blood-pressure-table th {    
    height: 8px;
}

/* Acrobatics to fit the header row... */
.blood-pressure-table thead tr th div{
    position: relative;  
    top: -6px;
    font-size: 60%;
    font-weight: normal;
    max-height: 5px;
    color:rgba(248, 215, 250, 0.343);
    
    width: 100%;
    text-align: right; 
}

.blood-pressure-table tr{
    height: 10px;     
    padding: 0px;
    margin: 0px;
    font-size: 100%;    
}

.blood-pressure-table td {
    /* min-width: 80px; */
}

.blood-pressure-table .right-align {
    text-align: right;    
}

.left-align {
    text-align: left !important;
}

.muted {
    opacity: 60%;
}