.photo-touch-layer {
  position: absolute;
  /* background-color: rgba(0,0,0,.8); */
  width: 100%;
  display:flex;
  flex-flow: column;
  justify-content:space-between;  
  z-index: 900;
  height: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 5px;
  padding-right: 5px;
}

/* All buttons have this */
.photo-button {
    border: 1px solid rgb(168, 168, 168);
    background-color: rgba(42, 30, 30, 0.803);
    border-radius: 5px;
    margin: 5px;
    color: rgb(228, 228, 228);
    font-size: 2vw;
    /* This just centers text */
    display: grid;
    place-items: center;
    text-align: center;
}

.photo-button:active {
    background-color: rgba(106, 106, 106, 0.803);
}

.photo-button-engaged {
    background-color: rgba(72, 71, 15, 0.962);
}

.photo-button-hidden {
    opacity: 0%;
}

/* PREV/FILTER/NEXT buttons */
.photo-button-top-row {
    width: 100%;     
}

/* Show hide button */
.photo-button-show-ui {
    opacity: 0%;
    flex-grow: 10;
}


.photo-button-pause {
    width: 20%;
}
.photo-main-touch-layer-horizontal-row {
    width: 100%;
    height: 25%;
    display: flex;
    flex-flow: row;
    /* background-color: rgba(100,0,0,.2);
    border: 1px solid green; */
}
/* RATING container */
.photo-rating-outer-container {
    border: 1px solid rgba(168, 168, 168, .3);
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(42, 30, 30, 0.603);
}

.photo-rating-header-container {
    width: 100%;
    height: 20%;
    /* This just centers text */
    display: grid;
    place-items: center;
    text-align: center;

    font-size: 1vw;
    font-style: italic;
    color: rgba(255, 255, 255, 0.509);    
}

.photo-rating-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.photo-button-rating {
    width: 25%;
    font-size: 1.5vw;
}

.photo-button-trash {
    width: 15%;    
}

.photo-button-trash img {
    opacity: 40%;
    width: 100%;
    max-width: 160px;
    max-height: 160px;
}

.photo-button-add-to-general {
    width: 15%;
}

.photo-button-add-to-general img {
    opacity: 40%;
    width: 100%;
    max-width: 160px;
    max-height: 160px;
}


.photo-button-spaceholder-15 {
    width: 15%;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.photo-button-rating-tag .current-items {
    border-top: 1px solid rgba(168, 168, 168, .3);
    width: 100%;
    font-size: 60%;
    color:rgb(209, 223, 182);
    height: 100%;
    padding: 3px;
}

.photo-button-rating-tag .current-items .no-items-yet {
    color:rgba(168, 168, 168, 1);
    font-style: italic;
}

.photo-button-rating-tag .button-label {
    margin: -20px 0px;
}

.info-layer-button {
    width: 14%
}

.info-layer-button-active {        
    background-color: rgba(101, 72, 72, 0.913) !important;
}

.photo-button-orange {
    background-color: rgba(148, 91, 0, 0.9);
}

.photo-button-red {
    background-color: rgba(123, 0, 0, 0.9);
}

.photo-button-green {
    background-color: rgba(0, 100, 0, 0.9);
}
