.photo-touch-layer {
  position: absolute;
  /* background-color: rgba(0,0,0,.8); */
  width: 100%;
  display:flex;
  flex-flow: column;
  justify-content:space-between;  
  z-index: 900;
  height: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 5px;
  padding-right: 5px;
}

/* All buttons have this */
.photo-button {
    border: 1px solid rgb(168, 168, 168);
    background-color: rgba(42, 30, 30, 0.803);
    border-radius: 5px;
    margin: 5px;
    color: rgb(228, 228, 228);
    font-size: 2vw;
    /* This just centers text */
    display: grid;
    place-items: center;
    text-align: center;
}

.photo-button:active {
    background-color: rgba(106, 106, 106, 0.803);
}

.photo-button-engaged {
    background-color: rgba(72, 71, 15, 0.962);
}

.photo-button-hidden {
    opacity: 0%;
}

/* PREV/FILTER/NEXT buttons */
.photo-button-top-row {
    width: 25%;     
}

.photo-button-mid-row {
    width: 25%;
}

.photo-button-bottom-row {
    width: 10%;
    max-width: 10% !important;
}

/* Show hide button */
.photo-button-show-ui {
    opacity: 0%;
    width: 50%;
}


.photo-button-pause {
    width: 20%;
}
.photo-main-touch-layer-horizontal-row {
    width: 100%;
    height: 25%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.photo-buttons-bottom-row-left-container {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 25%;    
    margin: 5px;

    div {
        margin: 0px;
        margin-right: 10px;
        
    }
}

.photo-buttons-bottom-row-right-container {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin: 5px;
    width: 75%;

    div {
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
        min-width: 160px;        
    }
}

.photo-button-collection-shortcut {
    width: 10%;
    font-size: 120%;

    img {
        width: 70% !important;
    }
}

.photo-button img {
    width: 100%;
    opacity: 40%;
    max-width: 160px;
    max-height: 160px;
}

.photo-button-spaceholder-15 {
    width: 15%;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.photo-button-items-info {
    font-size: 1.5vw;

    .current-items {
        border-top: 1px solid rgba(168, 168, 168, .3);
        width: 100%;
        font-size: 60%;
        color:rgb(209, 223, 182);
        height: 100%;
        padding: 3px;

        .no-items-yet {
            color:rgba(168, 168, 168, 1);
            font-style: italic;
        }
    }

    .button-label {
        margin: -20px 0px;
    }
}

.info-layer-button-active {        
    background-color: rgba(101, 72, 72, 0.913) !important;
}




.collection-button {
    img {
        width: 100%;
        opacity: 40%;
        max-width: 50px;
        max-height: 50px;
    }


}

$photoButtonGrayColor: rgb(180, 180, 180);

.photo-button-gray-inactive {
    color: $photoButtonGrayColor !important;
    background-color: rgba(44, 44, 44, 0.9);
}

.photo-button-gray-active, .photo-button-gray {
    color: $photoButtonGrayColor !important;
    background-color: rgba(95, 95, 95, 0.9);
}


$photoButtonGreenColor: rgb(156, 178, 156);

.photo-button-green-inactive {
    color: $photoButtonGreenColor !important;
    background-color: rgba(0, 49, 0, 0.9);
}

.photo-button-green-active, .photo-button-green {
    color: $photoButtonGreenColor !important;
    background-color: rgba(0, 94, 0, 0.9);
}


$photoButtonRedColor: rgb(158, 124, 124);

.photo-button-red-inactive {
    color: $photoButtonRedColor !important;
    background-color: rgba(53, 0, 0, 0.9);
}

.photo-button-red-active, .photo-button-red {
    color: $photoButtonRedColor !important;
    background-color: rgba(123, 0, 0, 0.9);
}


$photoButtonOrangeColor: rgb(180, 159, 143);

.photo-button-orange-inactive {
    color: $photoButtonOrangeColor !important;
    background-color: rgba(106, 65, 0, 0.265);
}

.photo-button-orange-active, .photo-button-orange {
    color: $photoButtonOrangeColor !important;    
    background-color: rgba(134, 83, 0, 0.9);
}


$photoButtonPurpleColor: rgb(183, 156, 179);

.photo-button-purple-inactive {
    color: $photoButtonPurpleColor !important;
    background-color: rgba(40, 0, 33, 0.9);
}

.photo-button-purple-active {
    color: $photoButtonPurpleColor !important;
    background-color: rgba(100, 0, 83, 0.9);
}



