.photo-touch-layer {
  position: absolute;
  /* background-color: rgba(0,0,0,.8); */
  width: 100%;
  display:flex;
  flex-flow: row wrap;
  justify-content:space-between;  
  z-index: 900;
  height: 100%;
}

/* All buttons have this */
.photo-button {
    border: 1px solid rgb(168, 168, 168);
    background-color: rgba(42, 30, 30, 0.803);
    border-radius: 5px;
    margin: 5px;
    color: rgb(228, 228, 228);
    font-size: 2vw;
    /* This just centers text */
    display: grid;
    place-items: center;
    text-align: center;
}

.photo-button:active {
    background-color: rgba(106, 106, 106, 0.803);
}

.photo-button-engaged {
    background-color: rgba(72, 71, 15, 0.962);
}

.photo-button-hidden {
    opacity: 0%;
}

.photo-button-show-ui {
    width: 100%;
    height: 50%
}

/* PREV/FILTER/NEXT buttons */
.photo-button-top-row {
    width: 32%;     
    height: 20%;
}


/* CLOSE button */
.photo-button-show-ui {
    width: 76%;
    height: 53%;
    opacity: 0%;
}

.photo-button-pause {
    width: 20%;
}

/* RATING container */
.photo-rating-outer-container {
    width: 100%;
    height: 25%;
    border: 1px solid rgba(168, 168, 168, .3);
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(42, 30, 30, 0.603);
}

.photo-rating-header-container {
    width: 100%;
    height: 20%;
    /* This just centers text */
    display: grid;
    place-items: center;
    text-align: center;

    font-size: 1vw;
    font-style: italic;
    color: rgba(255, 255, 255, 0.509);    
}

.photo-rating-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70%;    
}

.photo-button-rating {
    width: 25%;
    font-size: 1.5vw;
}

.photo-button-rating-hide {
    width: 15%;
    margin-right: 15%;
}

.photo-button-rating-tag {
    width: 15%;
    display: block;
}

.photo-button-rating-tag .current-tags {
    border-top: 1px solid rgba(168, 168, 168, .3);
    width: 100%;
    font-size: 60%;
    color:rgb(209, 223, 182);
    height: 100%;
    padding: 3px;
}

.photo-button-rating-tag .current-tags .no-tags-yet {
    color:rgba(168, 168, 168, 1);
    font-style: italic;
    height: 100%;
    padding: 5% 0%;
}

.photo-button-rating-tag .button-label {
    padding: 10px;
}