@import './../../main.scss';


.photos-info-layer {
    display: flex;
    justify-content: space-between !important;
    
    .horizontal-row {
        width: 100%;
        display: flex;
        
        
        div {
            background-color:rgba(48, 48, 38, 0.761);
            color: rgb(143, 143, 110);
            padding: 2px 10px; 
            border-radius: 3px;
            margin: 3px 0px 3px 5px;
            font-size: 80%;
        }           
    }

    .horizontal-row-top {
        @extend .horizontal-row;
        justify-content: flex-end;
    }

    .horizontal-row-remaining-space {
        flex-grow: 0.5;
        width: 100%;
        display: flex;
        
        .hide-button {
            width: 14%;
        }

    }

    .placeholder-text {
        color: rgba($color-text-gray, .5);
    }
}