.power-on-fan {
  background-color: rgb(71, 71, 156);
}

.power-on-heater,
.power-on-mailbox {
  background-color: rgb(174, 36, 36);
}


.power-on, 
.power-on-light, 
.power-on-bulb, 
.power-on-led-strip,
.power-on-thermostat {
  background-color: rgb(0, 95, 0);
}

.power-on-entertainment {
  background-color: rgb(112, 32, 92);
}

.power-off {
  background-color: rgb(89, 44, 44);
}

.power-not-available {
  background-color: rgb(70, 70, 70);
}

tr {
  height: 40px;
}

/* Touch view */

.locations-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  /* height: 965px; */
  height: 100%;
  align-items: stretch;  
  padding-left: 1px;
  

}

.group-container {
  padding: 2px;
  margin: 10px;
  background-color: rgb(58, 53, 53);
}

.device-container {
  padding: 5px;
  margin: 5px;
  background-color: black;  
  width: 250px;
}

.device-alias {
  color: rgb(233, 233, 233);
  text-align: center;
}

.device-footer {
  font-size: 80%;
  text-align: center;
  position: relative;
  bottom: 2px;
  color: rgb(177, 177, 177);
}

.bg-gray {
  background-color: rgb(64, 64, 64);
}


.text-blue {
  color: rgb(230, 230, 255) !important;
}

.bg-blue {
  background-color: rgb(77, 77, 141);
}

.text-red {
  color: rgb(255, 230, 230) !important;
}

.bg-red {
  background-color: rgb(141, 77, 77);
}

.bg-bright-red {
  background-color: rgb(255, 0, 0);
}

.bg-bright-blue {
  background-color: rgb(0, 0, 255);
}


.boxed {
  padding: 2px;
  min-width:80px;
  text-align: center;
}

.device-meta {
  color: rgb(177, 177, 177);
  font-size: 80%;
}

.device-channel {
  background-color: blueviolet;   
}

.device-online-state {  
  float: right;
}

.thermometer-triple-width {
  height: 50px;
  padding: 0px 3px;
  width: 280px;
  margin: 10px 5px;
  margin-top: 0px;
  margin-bottom:-4px;
  padding-bottom: 4px;
  /* border-bottom: 1px solid rgb(89, 86, 86); */
  
  background-size: 20%;
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;
}

/* Thermostat */
.thermostat-triple-width {
  height: 50px;
  padding: 0px 3px;
  width: 280px;
  margin: 10px 5px;
  margin-bottom:-5px;
  margin-top: 0px;
  
  background-size: 20%;
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;

}

.thermostat-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:10px;
}

.thermostat-button {
  font-size: 80%;
  text-align: center;
  position: relative;
  bottom: 0px;
  color: rgb(177, 177, 177);
  height: 25px;
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}

.thermostat-target {
  color: rgba(245, 245, 245, 0.723);
  font-size: 120%;
}

.thermostat-target-disabled {
  opacity: 50%;
  font-size: 120%;
}

.thermostat-button-disabled {  
  background-color: rgba(98, 94, 94, 0.355) !important;
  border: 1px solid rgba(255, 255, 255, 0.0) !important;
} 

.thermostat-arrow-up {
  background-image: url('/icons/arrow-up.png');
  background-color: rgba(255, 0, 0, 0.355);
}

.thermostat-arrow-down {
  background-image: url('/icons/arrow-down.png');
  background-color: rgba(0, 21, 255, 0.355);
}

.button-border {
  border-radius: 3px;
  border: 1px solid gray;
}

.thermometer-trends {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.thermometer-main-text {  
  text-align: right;
  font-size:100%;
  margin-top: -18px;
  
}

.thermometer-footer {
  font-size: 80%;
  text-align: center;
  position: relative;
  bottom: 0px;
  color: rgb(177, 177, 177);
  border-radius: 3px;
}

.powerstate-toggle-button {
  height: 62px;
  padding: 0px 3px;
  width: 180px;
  margin: 10px 5px;
  border: 1px solid gray;
  border-radius:5px;
  background-size: 20%;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.icon-fan {
  background-image: url('/icons/fan.png');
}

.icon-bulb, .icon-light {
  background-image: url('/icons/bulb.png');
}

.icon-heater {
  background-image: url('/icons/heater.png');
}

.icon-thermostat {
  background-image: url('/icons/thermostat.png');
}


.icon-entertainment {
  background-image: url('/icons/entertainment.png');
}

.icon-mailbox-locked {
  background-image: url('/icons/locked.png');
}

.icon-mailbox-unlocked {
  background-image: url('/icons/unlocked.png');
}

.small-buttons {
  width: 198px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}

.powerstate-toggle-button-small {
  width: 86px;
  margin-bottom: 0px;
  background-size: contain;
  background-position: 8px 10px;
}

.location-container {
  padding: 5px;
  margin: 5px;
  background-color: rgb(58, 53, 53);
  border-radius: 5px;
  max-width: 298px;
}

.location-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}

.location-label {
  color:rgb(154, 154, 154);
  text-align: center;
  font-weight: bold;  
}

.location-label-in-thermometer {
  position:absolute;  
  top: 2px;
  width: 100%;
  color:rgb(154, 154, 154);
  text-align: center;
  font-weight: bold;
}

.location-label-in-thermometer > div {
  margin: 0px auto;
}
.device-pending {  
  background-color: gray !important;
}