.calendar-outer-container {
  margin: 0px;
  padding: 5px 0px; 
  margin-right: 5px;
  border-right: 1px solid rgb(64, 64, 64);
}

.calendar-container {  
  margin: 0px 5px;  
  background-color: rgba(69, 92, 46, 0.5);
  width: 305px;
  border-radius: 5px;
  padding-top: 5px;
  margin: 0px 5px;
  height: 100%;  
}

.calendar-header {
  text-align: center;
  width: 100%;
  font-weight: bold;
  color:rgba(255, 255, 255, .5)
}

.calendar-items-container{
  height: 735px;
  width: 290px;
  background-color: rgb(25, 19, 12);
  margin: 5px auto;
  padding-left: 0px;
  padding-right: 10px;
  display: flex;
  flex-flow: column;
  justify-items: flex-start;
    
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Handle */
.calendar-items-container::-webkit-scrollbar-thumb {
  background: #45553370;
  /* background-color: rgba(55, 40, 40, 1); */
}

/* Handle on hover */
.calendar-items-container::-webkit-scrollbar-thumb:hover {
  background: rgb(99, 119, 68);
}

.calendar-event-divider-container {
    color: rgb(117, 126, 109, .8);
    padding: 3px;
    padding-left: 5px;
    font-style: italic;
    
    border-bottom: 1px solid rgba(69, 92, 46, 0.5);
    margin-top: 10px;
}

.calendar-event-divider-container:first-child {    
    margin-top: 0px;
}

.calendar-event-container {
    width: 100%;
    padding: 0px;
    padding-top: 0px;
    margin: 5px;
    margin-right: 0px;
    margin-bottom: 3px;
    border-radius: 3px;
    border: 1px solid rgba(161, 121, 83, 0.449);
}

.calendar-event-container-today {
    background-color: rgba(255, 213, 0, 0.185);
}

.calendar-event-container-now {
    background-color: rgba(255, 0, 0, 0.273);
}

.calendar-event-container > .header-container {
    color: rgba(209, 220, 213, 0.575);
}

.calendar-event-container .event-happening-now-alert {
    background-color: rgba(170, 15, 15, 0.79);
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 0, 0);    
    border-radius: 3px;
    margin: 0px 3px;
    float: left;
    font-size: 75%;
    margin-top: 4px;
    margin-left: 3px;
    padding: 0px 3px;
}

.calendar-event-container .event-happening-soon-alert {
    background-color: rgba(170, 87, 15, 0.703);
    text-align: center;
    color: rgb(255, 157, 0);
    border-radius: 3px;
    margin: 0px 3px;
    float: left;
    font-size: 75%;
    margin-top: 4px;
    margin-left: 3px;
    padding: 0px 3px;
}


.calendar-event-container .event-calendar-label {
    padding-right: 3px;
}

.calendar-event-container > .header-container > .event-start-end {
    text-align: right;
    padding-right: 5px;
    margin-bottom: 2px;    
}

.calendar-event-container > .header-container > .calendar-index-0 {
    text-align: right;
    font-size: 90%;    
    background-color: rgba(192, 242, 255, 0.23);
    color: rgba(217, 227, 218, 0.425);    
    height: 23px;
}

.calendar-event-container > .header-container > .calendar-index-1 {
    text-align: right;
    font-size: 90%;
    background-color: rgba(242, 215, 255, 0.302);
    color: rgba(225, 199, 225, 0.614);    
}

.calendar-event-container > .body-container {
    padding: 5px;
    padding-top: 0px;
}

.calendar-event-container > .body-container > .event-summary {
    font-size: 105%;
    color: rgba(255, 255, 255, 0.463);
}

.calendar-event-container > .body-container > .event-description {
    color: rgba(199, 193, 184, 0.636);
    font-size: 90%;
}

.calendar-event-container  .event-location {
    color: rgba(199, 193, 184, 0.636);
    float: left;
    font-size: 80%;
    font-style: normal;
    margin-left: 3px;
    margin-top: 2px;
    border-radius: 3px;
    padding: 0px 3px;
    text-align: right;;
    background-color: rgba(27, 27, 27, 0.496);
}
