.scripture-container {
  padding: 5px 10px;
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(77, 77, 69);
  border-radius: 5px;
  
  margin-top: 7px;
  overflow: hidden;
  position: relative;
  min-width: 680px;
  max-width: 680px;
}

.large-scripture-container {
  padding: 30px 10%;
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(32, 32, 30);
  
  
  overflow: hidden;
  position: relative;
  min-width: 700px;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.scripture-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(77, 77, 69);
  height: 100%;  
}

.large-scripture-text-container {
  border: 1px solid rgba(240, 240, 218, 0.295);
  
  border-radius: 5px;
  padding: 20px;
}

.scripture-text {
  font-size: 17px;
  width: 100%;  
  color:rgb(240, 240, 218);
}

.large-scripture-text {
  font-size: 40px;
  width: 100%;  
  color:rgb(240, 240, 218);
}

.scripture-text-verse-number {
  padding-right: 2px;
  font-size: 9px;
}

.large-scripture-text-verse-number {
  padding-right: 1px;
  font-size: 50% !important;
}

.scripture-reference {
  color:rgba(240, 240, 218, 0.711);
}


.scripture-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  font-size:14px;
}

.large-scripture-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  font-size:24px;
}

.scripture-user, .large-scripture-user {
  color:rgba(240, 240, 218, 0.394);
  min-height: 21px;
  overflow: hidden;  
  
  font-style: italic;
}

.scripture-user-name {
  font-style: italic;
}

