.scripture-container {
  padding: 5px 10px;
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(77, 77, 69);
  border-radius: 5px;
  
  margin-top: 7px;
  overflow: hidden;
  position: relative;
  min-width: 700px;
  max-width: 700px;
}

.scripture-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(77, 77, 69);
  height: 100%;
}

.scripture-text {
  font-size: 17px;
  width: 100%;  
  color:rgb(240, 240, 218);
}

.scripture-text-verse-number {
  padding-right: 2px;
  font-size: 9px;
}

.scripture-reference {
  color:rgba(240, 240, 218, 0.711);
}


.scripture-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.scripture-user {
  color:rgba(240, 240, 218, 0.394);
  height: 21px;
  overflow: hidden;  
  font-size: 14px;
  font-style: italic;
}

.scripture-user-name {
  font-style: italic;
}

