$color-touch-layer: rgba(255, 255, 255, 0.753);

$color-touch-layer-label: rgba(255, 255, 255, 0.74); 
$color-touch-item: rgba(255, 255, 255, 0.812);
$color-touch-item-info: rgba(255, 255, 255, 0.512);
$border-gray: rgba(128, 128, 128, 0.282);
$border-color-touch-item: rgba(128, 128, 128, 1);

$touch-item-selected-background-color: rgba(255, 255, 0, 0.296);



.touch-layer {
    color: $color-touch-layer;
    position: absolute;
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center; 
    z-index: 900;
    height: 100%;
    font-size: 200%;

    .touch-item {
        border-radius: 5px;
        border: 1px solid $border-color-touch-item;
        padding: 5px;
        margin: 5px;
        color: $color-touch-item;
        text-align: center;

        .touch-item-info {
            font-size: 80%;
            color: $color-touch-item-info;
        }
    }

    .touch-item:active {
        background-color:rgba(76, 76, 76, 0.52);   
    }


    .touch-item-selected {
        background-color: $touch-item-selected-background-color;
    }


    .touch-items-container {
        border: 1px solid $border-gray;
        border-radius: 5px;
        padding: 5px;
        display: flex;
        min-height: 80px;
    }

    .options-groups-container {
        width: 95%;
        height: 80%;        

        .header {
            border-bottom: 1px solid $border-gray;
            text-align: center;
            font-size: 130%;
        }

        .options-group {
            padding: 15px; 
            margin-top: 10px;
            border-bottom: 1px solid $border-gray;
        }
    }
    
    .actions-container {
        height:10%;
        width: 95%;
        padding-top:10px;
        display: flex;
        border-top: 1px solid $border-gray;
        justify-content: flex-end;
        .action {
            @extend .touch-item;
            max-height: 60px;          
        }
    }
}

.touch-layer-opaque {
    @extend .touch-layer;    
    background-color: rgba(36, 36, 36, 0.949);
}

