.touch-ui-container {
  overflow: hidden;
}

.touch-ui-columns-container {
  border: 1px solid rgb(84, 84, 84);
  border-radius: 3px;
  width: 1900px;
  height: 930px;
  margin: 2px;
  display: flex;
  transform: scale(1s);
  position: relative;
}

.touch-ui-panel-container {
  border: 1px solid rgb(64, 64, 64);
  border-radius: 3px;
  width: 1900px;
  height: 140px;
  margin: 0px;
  margin-left: 2px;
  margin-top: 7px;
  padding: 0px;
  display: flex;
  overflow: hidden;
  flex-flow: row;
  justify-content: flex-end;
  justify-content: space-between;
}

.touch-ui-panel-item {
  /* border: 1px solid yellow; */
  height: 100%;
  max-height: 100%;
  padding: 0px 5px;
  position: relative;  
}

.touch-ui-panel-item-remaining-space {
  flex-grow: 1;
}

.touch-ui-pannel-item-nopad {
  height: 100%;
  max-height: 100%;
  padding: 0px 0px;
  position: relative;  
}

.touch-ui-main-column {
  padding: 0px;
  /* border: 1px solid yellow; */
  width: 100%;
  min-width: 315px;
  height: 100%;
  max-height: 100%;
}

.touch-ui-sub-panel-header {
  text-align: center;
  width: 300px;
  font-weight: bold;
  color:rgba(255, 255, 255, .5)
}