.touch-ui-container {
  overflow: hidden;
  width: 1902px;
  user-select: none;
  height: 100%;
}

.touch-ui-fullscreen-container {
  height: 930px;
  width: 1900px;
}
.touch-ui-columns-container {
  border: 1px solid rgb(64, 64, 64);
  border-radius: 3px;
  width: 1900px;
  height: 930px;
  margin: 2px;
  display: flex;
  transform: scale(1s);
  position: relative;
  
}

.touch-ui-panel-container {
  border: 1px solid rgb(64, 64, 64);
  border-radius: 3px;
  width: 1900px;
  height: 140px;
  margin: 0px;
  margin-left: 2px;
  margin-top: 7px;
  padding: 0px;
  display: flex;
  overflow: hidden;
  flex-flow: row;
  justify-content: flex-end;
  justify-content: space-between;
}

.touch-ui-panel-container .placeholder-350 {
    width: 335px;    
}

.touch-ui-panel-container .placeholder-200 {
    width: 200px;    
    background-color: #fff;
}

.touch-ui-panel-item {
  /* border: 1px solid yellow; */
  height: 100%;
  max-height: 100%;
  padding: 0px 5px;  
  position: relative;  
}

.touch-ui-panel-item-remaining-space {
  flex-grow: 1;  
}

.touch-ui-pannel-item-nopad {
  height: 100%;
  max-height: 100%;
  padding: 0px 0px;
  position: relative;  
}

.touch-ui-main-column {
  width: 310px;
  height: 100%;  
  margin: 0px 5px;  
}

.touch-ui-left-column {
    margin-right: 0px;
}

.touch-ui-right-column {
    padding: 0px;    
    margin: 0;
    margin-right: 5px;
    margin-left: 5px;
    
}

.touch-ui-main-column-remaining-space {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(55, 55, 55); 
  border-left: 1px solid rgb(55, 55, 55); 
  height: 100%;
  margin-left: 5px;
}

.touch-ui-main-column-remaining-space .remaining-main {
    display:flex;   
    height:84.5%;    
    position: relative;
}

.touch-ui-main-column-remaining-space .remaining-panel {
    border-top: 1px solid rgb(55, 55, 55);         
}

.touch-ui-sub-panel-header {
  text-align: center;
  width: 300px;
  font-weight: bold;
  color:rgba(255, 255, 255, .5)
}

