.system-info-container {
  width: 222px;
  height: 100%;
  padding-top: 5px;  
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  text-align: left;  

    ::-webkit-scrollbar {
        width: 5px;
    }

    padding-left: 4px;
}

.system-info-label {
    color: #999;
    max-height: 25px;  
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid #333;
}

.system-info-table {
    color: gray;
    width: 100%;
    font-size: 80%;
    tr {
        height: 20px;
    }
}