.system-info-container {
  width: 222px;
  height: 100%;
  padding-top: 5px;  
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  text-align: left;  

    ::-webkit-scrollbar {
        width: 5px;
    }

    padding-left: 4px;
}

.system-info-items-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100px;
    margin-top: 0px;
}

/* Handle */
.system-info-items-container::-webkit-scrollbar-thumb {
  background: #5f4e6289;
}

/* Handle on hover */
.system-info-items-container::-webkit-scrollbar-thumb:hover {
  background: rgba(114, 84, 113, 0.735);
}

.system-info-label {
  padding-top:5px;
  padding-bottom:0px;
  margin-bottom: 2px;    
  border-bottom: 1px solid #333;
  color: #999;
}

.system-info-table {
    color: gray;
    width: 100%;
    font-size: 80%;
    tr {
        height: 20px;
    }
}

.system-info-table-leftcol {
    width: 90px;    
}