.fullscreen-panel-clock {
  margin-top: -25px;
  margin-right: 20px;
  min-width: 320px;
  max-width: 320px;
  text-align: center;
  font-size: 120px;
  color: rgb(197, 197, 197);
  padding: 0px 0px;
  
}