@import './../../../main.scss';

.calendar-compact-container {
  width: 200px;
  border-radius: 5px;
  padding-top: 5px;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;  
  text-align: left;
  height: 100%;
  padding-bottom: 3px;  

    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, .08);
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #77777784;
    /* background-color: rgba(55, 40, 40, 1); */
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: rgb(152, 152, 152);
    }    

}

.calendar-label {
  max-height: 25px;  
  color: #999;
  font-size: 16px;
  border-bottom: 1px solid #333;
  width: 100%;
}

.calendar-compact-nothing-scheduled {
    color: rgba(128, 128, 128, 0.389);
    background-color: #333333ad;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        width: 100%;
        text-align: center;
    }
}

.calendar-compact-items-container{
  width: 100%;  
  margin: 5px auto;
  padding: 0px;
  padding-right: 0px;
  flex-grow: 10;
  background-color: #333333ad;
  overflow-y: auto;
  border-radius: 3px;  
}

.calendar-compact-item-container{
  /* border: 1px solid yellow; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2px 3px;
  padding-bottom: 0px;
  padding-top:22px;
  border-radius: 3px;
  margin: 0px 0px 2.8px 0px;  
  min-height: 45px;
}


.calendar-compact-item-container-now {
  color:rgb(229, 211, 211);    
  background: rgba(100,0,0,1);
  position: relative;
}

.calendar-compact-item-container-today {
  color:rgb(229, 220, 211);  
  background: rgba(100,50,0,1);
  position: relative;
}

.calendar-compact-item-header{
  display: flex;
  justify-content: space-between;
  padding: 0px 3px;
  font-size: 11px;
  width: 100%;
  text-align: right;
  position:  absolute;
  right: 2px;
  top: 0px;
  padding-right: 2px;
}

.header-time-now {
    background-color: rgba(170, 15, 15, 0.79);
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 0, 0);    
    border-radius: 3px;
    float: left;
    margin-top: 4px;
    margin-left: 2px;
    padding: 0px 3px;
}



.header-time-today {
    background-color: rgba(170, 87, 15, 0.703);
    text-align: center;
    color: rgb(255, 157, 0);
    border-radius: 3px;
    float: left;
    margin-top: 4px;
    margin-left: 2px;
    padding: 0px 3px;
}

.header-index-0 {
    background-color: rgba(65, 83, 86, 0.904);
    color: rgba(217, 227, 218, 0.543); 
    text-align: center;
    border-radius: 3px;
    float: left;
    margin-top: 4px;
    margin-left: 3px;
    padding: 0px 3px;
}


.header-index-1 {
    background-color: rgba(115, 70, 135, 0.805);
    color: rgba(225, 199, 225, .614);  
    text-align: center;
    border-radius: 3px;
    float: left;
    margin-top: 4px;
    margin-left: 3px;
    padding: 0px 3px;
}

.calendar-compact-item-container-today {
  color:rgb(229, 220, 211);  
  background: rgba(100,50,0,1);
  position: relative;
}

.calendar-compact-item-container-today .calendar-compact-item-date{
  color:rgb(255, 166, 0);
  font-size: 11px;
  width: 100%;
  text-align: right;
  position:  absolute;
  right: 2px;
  top: 0px;
  padding-right: 2px;
}

.calendar-compact-item-summary {
    padding: 0px 2px;
}